# Node Modules
node_modules/

# Environment Files
.env
.env.*

# Logs
logs/
*.log

# Build Files
dist/
build/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Uploads (optional)
uploads/

# Coverage
coverage/

# Temporary Files
tmp/
temp/
.tip-images

Dump.sql
NewImg/